.table {
    width: 90vw;
    border: 1px solid black;
}

.thead {
    width: 100%;
    border: 1px solid red;
}

.tr {
    width: 100%;
    border: 1px solid #bb98cd;
    display: flex;
    flex-direction: row;
}

.th {
    text-align: center;
    width: 15vw;
    border: 1px solid #cdb24b;
}

.tbody {
    width: 100%;
    border: 1px solid blue;
}

.td {
    text-align: center;
    width: 15vw;
    border: 1px solid #51cd59
}